driver = mysql
connect = "host=localhost dbname=mail user=mailuser password={{ mail_mysql_pass }}"
default_pass_scheme = SHA512-CRYPT
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';
