CREATE DATABASE mail;

CREATE TABLE `mail`.`virtual_domains` (
`id`  INT NOT NULL AUTO_INCREMENT,
`name` VARCHAR(50) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `mail`.`virtual_domains`
(`id` ,`name`)
VALUES
('1', 'asymptotech.com');

CREATE TABLE `mail`.`virtual_users` (
`id` INT NOT NULL AUTO_INCREMENT,
`domain_id` INT NOT NULL,
`password` VARCHAR(106) NOT NULL,
`email` VARCHAR(120) NOT NULL,
PRIMARY KEY (`id`),
UNIQUE KEY `email` (`email`),
FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `mail`.`virtual_users`
(`id`, `domain_id`, `password` , `email`)
VALUES
('1', '1', ENCRYPT('{{ email_user_pass }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), 'nat@asymptotech.com'),
('2', '1', ENCRYPT('{{ email_user_pass }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ jira_url }}'),
('3', '1', ENCRYPT('{{ email_user_pass }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), '{{ confluence_url }}'),
('4', '1', ENCRYPT('{{ email_user_pass }}', CONCAT('$6$', SUBSTRING(SHA(RAND()), -16))), 'test@asymptotech.com');

CREATE TABLE `mail`.`virtual_aliases` (
`id` INT NOT NULL AUTO_INCREMENT,
`domain_id` INT NOT NULL,
`source` varchar(100) NOT NULL,
`destination` varchar(100) NOT NULL,
PRIMARY KEY (`id`),
FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `mail`.`virtual_aliases`
(`id`, `domain_id`, `source`, `destination`)
VALUES
('1', '1', 'nmclean@asymptotech.com', 'nat@asymptotech.com');

GRANT SELECT ON mail.* TO 'mailuser'@'localhost' IDENTIFIED BY '{{ mail_mysql_pass }}';
FLUSH PRIVILEGES;
