server {
    listen 80;
    listen [::]:80;
    server_name {{ monit_url }};

    return 301 https://{{ monit_url }}$request_uri;
}

server {
    listen 443;
    listen [::]:443;
    server_name {{ monit_url }};

    ssl on;
    ssl_certificate {{ full_cert }};
    ssl_certificate_key {{ full_key }};

    location / {
        allow 47.156.152.201;
        deny all;

        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ monit_url }}:{{ monit_https_port }};
        proxy_connect_timeout       600;
        proxy_send_timeout          600;
        proxy_read_timeout          600;
        send_timeout                600;
        client_max_body_size        100M;
    }
}
