check process {{ jira_mysqld_service }} with pidfile {{ jira_mysqld_pid }}
    start program = "/bin/systemctl start {{ jira_mysqld_service }}" with timeout 60 seconds
    stop program = "/bin/systemctl stop {{ jira_mysqld_service }}"
    if failed port {{ jira_mysqld_port }} protocol mysql then restart

check process {{ jira_web_service }} with pidfile {{ jira_install }}/work/catalina.pid
    start program = "/bin/systemctl start {{ jira_web_service }}" with timeout 240 seconds
    stop program = "/bin/systemctl stop {{ jira_web_service }}"
    if failed host {{ jira_url }} port {{ jira_https_port }} protocol https for 3 cycles then restart
