check process {{ confluence_mysqld_service }} with pidfile {{ confluence_mysqld_pid }}
    start program = "/bin/systemctl start {{ confluence_mysqld_service }}" with timeout 60 seconds
    stop program = "/bin/systemctl stop {{ confluence_mysqld_service }}"
    if failed port {{ confluence_mysqld_port }} protocol mysql then restart

check process {{ confluence_web_service }} with pidfile {{ confluence_install }}/work/catalina.pid
    start program = "/bin/systemctl start {{ confluence_web_service }}" with timeout 240 seconds
    stop program = "/bin/systemctl stop {{ confluence_web_service }}"
    if failed host {{ confluence_url }} port {{ confluence_https_port }} protocol https for 3 cycles then restart
