check process mysqld with pidfile /var/run/mysqld/mysqld.pid
    start program = "/bin/systemctl start mysqld" with timeout 60 seconds
    stop program = "/bin/systemctl stop mysqld"
    if failed port {{ mysqld_port }} protocol mysql then restart
