[Unit]
Description=JVM with Tomcat for Jira
After=network.target {{ jira_mysqld_service }}.target

[Install]
WantedBy=multi-user.target

[Service]
User=jira
Group=jira
Type=forking
PIDFile={{ jira_install }}/work/catalina.pid

Environment=JAVA_HOME={{ java_install }}
Environment=JRE_HOME={{ java_install }}/jre
Environment=JIRA_HOME={{ jira_home }}

#ExecStartPre=

ExecStart={{ jira_install }}/bin/start-jira.sh

ExecStop={{ jira_install }}/bin/stop-jira.sh
