# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
datadir = {{ jira_mysqld_data }}
port = {{ jira_mysqld_port }}
user = mysql
socket = {{ jira_mysqld_sock }}
default_time_zone = America/Los_Angeles
bind-address = 127.0.0.1

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error = {{ jira_mysqld_log }}
pid-file = {{ jira_mysqld_pid }}

default-storage-engine = INNODB
character_set_server = utf8mb4

innodb_default_row_format = DYNAMIC
innodb_large_prefix = ON
innodb_file_format = Barracuda
innodb_log_file_size = {{ jira_innodb_size }}
innodb_buffer_pool_size = {{ jira_innodb_size }}
innodb_buffer_pool_instances = 2
innodb_write_io_threads = 8
innodb_read_io_threads = 8

tmp_table_size = 128M
max_heap_table_size = 128M
max_allowed_packet = 64M
max_connections = 128
