#modified MySQL systemd declaration
[Unit]
Description=MySQL Server for Confluence Instance
After=network.target syslog.target mysqld.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
Type=forking
PIDFile={{ confluence_mysqld_pid }}
TimeoutSec=0
LimitNOFILE = 5000
Restart=on-failure
RestartPreventExitStatus=1
PrivateTmp=false

EnvironmentFile=-/etc/sysconfig/mysql-confluence

PermissionsStartOnly=true
ExecStartPre=/usr/bin/mysqld_pre_systemd

ExecStart=/usr/sbin/mysqld --defaults-file=/etc/my-confluence.cnf --daemonize
