[Unit]
Description=JVM with Tomcat for Confluence
After=network.target {{ confluence_mysqld_service }}.target

[Install]
WantedBy=multi-user.target

[Service]
User=confluence
Group=confluence
Type=forking
PIDFile={{ confluence_install }}/work/catalina.pid

Environment=JAVA_HOME={{ java_install }}
Environment=JRE_HOME={{ java_install }}/jre
Environment=CONFLUENCE_HOME={{ confluence_home }}

#ExecStartPre=

ExecStart={{ confluence_install }}/bin/start-confluence.sh

ExecStop={{ confluence_install }}/bin/stop-confluence.sh
