# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
datadir={{ confluence_mysqld_data }}
port={{ confluence_mysqld_port }}
user=mysql
socket={{ confluence_mysqld_sock }}
default_time_zone=America/Los_Angeles
bind-address=127.0.0.1
binlog_format=row
log-bin=mysql-bin
server-id=master-01

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error={{ confluence_mysqld_log }}
pid-file={{ confluence_mysqld_pid }}

default-storage-engine = INNODB
character_set_server = utf8
collation-server = utf8_bin
transaction-isolation = READ-COMMITTED

innodb_default_row_format = DYNAMIC
innodb_large_prefix = ON
#innodb_file_format=Barracuda
innodb_log_file_size = {{ confluence_innodb_size }}
innodb_buffer_pool_size = {{ confluence_innodb_size }}
innodb_buffer_pool_instances = 2
innodb_write_io_threads = 8
innodb_read_io_threads = 8

tmp_table_size = 128M
max_heap_table_size = 128M
max_allowed_packet=128M
max_connections=128
