[mysqld]
user=mysql
port={{ confluence_mysqld_port }}
datadir={{ confluence_mysqld_data }}
socket={{ confluence_mysqld_sock }}
symbolic-links=0
log-error={{ confluence_mysqld_log }}
pid-file={{ confluence_mysqld_pid }}
